<%- include('partials/header'); -%>

<form>
    <h2>Log in</h2>
    <div class="login error"></div>
    <label for="email">Email</label>
    <input type="text" name="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <button>Log in</button>
</form>

<script>
    const form = document.querySelector('form');
    const loginError = document.querySelector('.login.error');

    form.addEventListener('submit', async (event) => {
        event.preventDefault();

        loginError.textContent = '';

        const email = form.email.value;
        const password = form.password.value;

        try {
            const res = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({ email, password }),
                headers: { 'Content-Type': 'application/json' }
            })
            const data = await res.json();
            if (data.errors) {
                loginError.textContent = data.errors;
            }
            if (data.user) {
                location.assign('/');
            }
        } catch (err) {

        }
    })
</script>

<%- include('partials/footer'); -%>
